<h1><%= @movie.title %></h1>
<h4>Created in: <%= @movie.creation_year %></h4>
<h4>Genre: <%= @movie.genre %></h4>

<h2>Actors in Movie:</h2>
<% @actors.each do |actor| %>
<p><%= actor.name %></p>
<% end %>

<p>Add an Actor to This Movie: </p>
<%= form_with url: "/movies/#{@movie.id}", method: :get, local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit 'Search for Actor' %>
<% end %>

<% if @search_results != nil %>
<% @search_results.each do |actor| %>
<p><%= actor.name %></p>
<% end %>
<% end %>
